@import "@/assets/css/base.scss";
.ScrollModule {
    height: 100%;
    .ScrollModule_pulldown {
        width: 100%;
        position: absolute;
        top: 0px;
        .pulldown-wrapper {
            font-size: $FontSize40;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            .before-trigger {
                font-size: $FontSize25;
                color: $Color_939393;
            }
        }
        // 刷新成功
        .ScrollModule_pullSuccess {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            background-color: $Color_EA625B;
            bottom: 50px;
            height: 50px;
            line-height: 50px;
            width: 200px;
            text-align: center;
            font-size: $FontSize25;
            color: $Color_fff;
            border-radius: 10px;
            opacity: 0.8;
        }
    }
    
}