@import "@/assets/css/base.scss";
.ScrollModule {
    height: 100%;
    .ScrollModule_pulldown {
        width: 100%;
        position: absolute;
        top: 0px;
        .pulldown-wrapper {
            font-size: $FontSize40;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        // 刷新成功
        .ScrollModule_pullSuccess {
            position: fixed;
            bottom: 50px;
            height: 50px;
            line-height: 50px;
            width: 100%;
            text-align: center;
        }
    }
    
}