@import "@/assets/css/base.scss";
.recommend-box {
    background-color: $Color_F5F5F5;
    // 轮播图
    .recommend-slideshow {
        height: 350px;
        .van-swipe {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
            .van-swipe__indicators {
                i {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    // 分类标签
    .recommend-classify {
        background-color: $Color_fff;
        .classify-ul {
            display: flex;
            flex-wrap: wrap;
            .item-li {
                width: 20%;
                margin: 20px 0;
                .item-img {
                    width: 100%;
                    height: 80px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .item-span {
                    font-size: $FontSize20;
                    text-align: center;
                }
            }
        }
    }
    // 商城早报
    .recommend-storeNews {
        background-color: $Color_fff;
        border-top: 1px solid #E3E3E3;
        padding: 0 20px;
        padding-top: 10px;
        display: flex;
        height: 60px;
        .title {
            width: 20%;
            color: $Color_F25C2C;
            font-size: $FontSize25;
            line-height: 60px;
            text-align: center;
            position: relative;
            &::after {
                content: "";
                z-index: 2;
                position: absolute;
                right: -10px;
                top: 15px;
                width: 2px;
                height: 50px;
                background-color: #CDCDCD;
            }
        }
        .content {
            width: 70%;
            .content-ul {
                height: 60px;
                .van-swipe__track {
                    .item-li {
                        height: 100%;
                        font-size: $FontSize25;
                        padding-left: 40px;
                        line-height: 60px;
                        color: #000000;
                        background-color: $Color_fff;
                    }
                }   
                
            }
        }
    }
    // 商城下面的图片
    .recommend-storeNewsImages {
        
    }
}