@import "@/assets/css/base.scss";
.mobel-box {
    background-color: #ECEEFD;

    .SlideShowBox-classify {
        .classify-ul {
            background-color: #ECEEFD;
        }
    }
    // 推荐商品
    .mobel-recommend {
        padding: 0 10px;
        .img {
            width: 100%;
            height: 400px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .title-descripe {
            background-color: $Color_fff;
            height: 150px;
            display: flex;
            padding: 0 30px;
            .text-left {
                width: 70%;
                margin-top: 40px;
                p {
                    color: #000;
                    &:first-of-type {
                        margin-bottom: 10px;
                    }
                    &:last-of-type {
                        font-size: $FontSize20;
                    }
                }
            }
            .text-right {
                width: 30%;
                margin-top: 20px;
                .price {
                    text-align: right;
                    span {
                        em {
                            display: inline-block;
                            text-align: left;
                            margin-right: 2px;
                            font-weight: 600;
                        }
                        &:first-of-type {
                            color: $Color_F25C2C;
                            margin-right: 5px;
                            i {
                                &:first-of-type {
                                    vertical-align: top;
                                }
                            }
                        }
                        i {
                            font-size: $FontSize20;
                        }
                        &:last-of-type {
                            font-size: $FontSize20;
                            text-decoration: line-through;
                        }
                    }
                }
                .van-button {
                    width: 100%;
                    padding: 10px 30px;
                    height: 60px;
                    background-color: $Color_F25C2C;
                    span {
                        font-size: $FontSize25;
                    }
                }
            }
        }
    }
}