@import "@/assets/css/base.scss";
.mobel-box {
    background-color: #ECEEFD;

    .SlideShowBox-classify {
        background-color: #ECEEFD;
    }
    // 推荐商品
    .mobel-recommend {
        padding: 0 20px;
    }
}