@import "@/assets/css/base.scss";
.mobel-box {
    background-color: #ECEEFD;

    .SlideShowBox-classify {
        .classify-ul {
            background-color: #ECEEFD;
        }
    }
    // 推荐商品
    .mobel-recommend {
        padding: 0 10px;
        .img {
            width: 100%;
            height: 400px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .title-descripe {
            background-color: $Color_fff;
            height: 150px;
            display: flex;
            padding: 0 30px;
            .text-left {
                width: 70%;
                margin-top: 40px;
                p {
                    color: #000;
                    &:first-of-type {
                        margin-bottom: 10px;
                    }
                    &:last-of-type {
                        font-size: $FontSize20;
                    }
                }
            }
            .text-right {
                width: 30%;
                margin-top: 20px;
                .price {
                    text-align: right;
                    span {
                        em {
                            display: inline-block;
                            text-align: left;
                            margin-right: 2px;
                            font-weight: 600;
                        }
                        &:first-of-type {
                            color: $Color_F25C2C;
                            margin-right: 5px;
                            i {
                                &:first-of-type {
                                    vertical-align: top;
                                }
                            }
                        }
                        i {
                            font-size: $FontSize20;
                        }
                        &:last-of-type {
                            font-size: $FontSize20;
                            text-decoration: line-through;
                        }
                    }
                }
                .van-button {
                    width: 100%;
                    padding: 10px 30px;
                    height: 60px;
                    background-color: $Color_F25C2C;
                    span {
                        font-size: $FontSize25;
                    }
                }
            }
        }
    }
    // 商品
    .mobel-goods {
        margin-top: 10px;
        padding: 0 10px;
        .goods-ul {
            display: flex;
            flex-flow: wrap;
            text-align: center;
            justify-content: space-between;
            .item-li {
                width: 49%;
                background-color: $Color_fff;
                color: #000;
                margin-bottom: 10px;
                .item-img{
                    width: 100%;
                    height: 300px;
                    margin-bottom: 40px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .item-title {
                    font-size: $FontSize25;
                }
                .item-introduce {
                    font-size: $FontSize20;
                    margin: 10px 0;
                }
                .item-price {
                    .new-price,
                    .old-price {
                        display: inline-block;
                        color: $Color_EA625B;
                        i {
                            font-size: $FontSize20;
                        }
                        em {
                            font-size: $FontSize30;
                            margin-right: 5px;
                        }
                    }
                    .old-price {
                        margin-left: 10px;
                        color: $Color_ccc;
                        text-decoration: line-through;
                        em {
                            font-size: $FontSize20;
                        }
                    }
                }
                .item-button {
                    margin-top: 10px;
                    margin-bottom: 40px;
                    .van-button {
                        padding: 0 40px;
                        height: 60px;
                        background-color: $Color_EA625B;
                        font-size: $FontSize25;
                        color: $Color_fff;
                    }
                }
            }
        }
    }
}