//fontSize
$FontSize35: 35px;
$FontSize45: 45px;
$FontSize30: 30px;
$FontSize25: 25px;
$FontSize20: 20px;

//color
$ThemeColor: #959595;
$Color_fff: #fff;
$Color_red: #C23531;
$Color_ddd: #ddd;
$Color_ccc: #ccc;
$Color_eee: #EEEEEE;
$Color_F25C2C: #F25C2C;
$Color_F5F5F5: #F5F5F5;

// height
$HeightSearch: 100px;
$HeightBottomNav: 100px;