@import "./reset.scss";
@import "./base.scss";

// 下拉刷新的样式
.van-pull-refresh__head {
    span {
        font-size: $FontSize25;
    }

    .van-pull-refresh__text {
        font-size: $FontSize25;
    }
}

// 清除浮动
.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}

.clearfix {
    zoom: 1;
}

// 价格样式
.newprice {
    font-size: $FontSize40;
    color: $Color_F25C2C;
    margin-right: 10px;

    i {
        font-size: $FontSize20;
        vertical-align: top;
    }
}
.oldprice {
    font-size: $FontSize25;
    text-decoration: line-through;

    i {
        font-size: $FontSize20;
        vertical-align: text-top;
    }
}