@import "./reset.scss";
@import "./base.scss";

// 提示框的样式
.van-toast__text {
    // color: 
}

// 下拉刷新的样式
.van-pull-refresh__head {
    span {
        font-size: $FontSize25;
    }

    .van-pull-refresh__text {
        font-size: $FontSize25;
    }
}

// 清除浮动
.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}

.clearfix {
    zoom: 1;
}