@import "@/assets/css/base.scss";
.home-box {
    // 固定的搜索框
    .search-box {
        height: $HeightSearch;
        width: 100%;
    }
    // banner 包含轮播图和 分类选项
    .banner-box {
        height: 100%;
    }
}