@import "@/assets/css/base.scss";
.home-box {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: $HeightBottomNav;
    width: 100%;
    // 固定的搜索框
    .search-box {
        height: $HeightSearch;
        width: 100%;
        position: fixed;
        z-index: 9999;
        background-color: $Color_fff;
    }
    // banner 包含轮播图和 分类选项
    .banner-box {
        position: absolute;
        top: 80px;
        width: 100%;
        bottom: 0;
        overflow: scroll;
    }
}