@import "@/assets/css/base.scss";
.goodsDetail {
    .goodsDetail-box {
        // 头部的按钮
        .goodsDetail-header {
            padding: 0 10px;
            padding-top: 20px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .back-btn {
                background-color: $Color_939393;
                opacity: 0.6;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                .iconfont {
                    font-size: $FontSize25;
                    color: $Color_fff;
                }
            }
            .more-btn {
                display: flex;
                .share,
                .more {
                    background-color: $Color_939393;
                    border-radius: 50%;
                    opacity: 0.6;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    .iconfont {
                        font-size: $FontSize40;
                        color: $Color_fff;
                    }
                }
                .more {
                    margin-left: 20px;
                }
            }
        }
        // 商品图片介绍
        .goodsDetail-imgIntroduce {
            height: 600px;
            width: 100%;
            .van-swipe {
                height: 100%;
                img {
                    height: 100%;
                    width: 100%;
                }
                .custom-indicator {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    width: 60px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    background-color: $Color_939393;
                    color: $Color_fff;
                    border-radius: 15px;
                }
            }
        }
        // 商品介绍
        .goodsDetail-textIntroduce {
            // 当存在 秒杀的时候 
            .textIntroduce-miaosha {
                background-color: $Color_F25C2C;
                width: 100%;
                height: 100px;
                line-height: 100px;
                display: flex;
                justify-content: space-between;
                padding: 0 20px;
                .miaosha-price {
                    text-align: left;
                    color: $Color_fff;
                    font-size: $FontSize30;
                    i {
                        font-size: $FontSize20;
                        margin-left: 10px;
                        vertical-align: top;
                    }
                }
            }
            // 详情文字介绍
            .textIntroduce-text {
                padding: 0 20px;
                margin-top: 20px;
                width: 100%;
                .text-title {
                    margin-bottom: 20px;
                    font-weight: 500;
                    color: #000;
                }
                .text-box {
                    line-height: 40px;
                    position: relative;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    overflow: hidden;
                    .texttitle {
                        color: $Color_F25C2C;
                        font-size: 30px;
                    }
                    .textcontent {
                        font-size: 25px;
                    }
                    .text-button {
                        position: absolute;
                        right: 0;
                        bottom: 5px;
                        border: 0;
                        padding: 10px 20px;
                        font-size: $FontSize20;
                        background-color: #fff;
                        color: $Color_F25C2C;
                    }
                }
                // 价格
                .price-box {
                    margin-top: 20px;
                    .new-price {
                        font-size: $FontSize40;
                        color: $Color_F25C2C;
                        margin-right: 10px;
                        i {
                            font-size: $FontSize20;
                            vertical-align: top;
                        }
                    }
                    .old-price {
                        font-size: $FontSize25;
                        text-decoration: line-through;
                        i {
                            font-size: $FontSize20;
                            vertical-align: text-top;
                        }
                    }
                }
            }
        }
        // 加入购物车
        .goodsDetail-shopcar {
            padding-top: 10px;
            border-top: 1px solid $Color_ccc;
            /deep/ .van-icon {
                font-size: $FontSize45;
                .van-info {
                    font-size: $FontSize30;
                    height: 30px;
                    line-height: 30px;
                    min-width: 50px;
                }
            }
            /deep/ .van-button__text {
                font-size: $FontSize30;
            }
            .van-goods-action-button {
                height: 80px;
            }
            .van-goods-action-icon {
                min-width: 160px;
                font-size: $FontSize30;
            }
        }
    }
}