@import "@/assets/css/base.scss";
.goodsDetail {
    .goodsDetail-box {
        margin-bottom: 100px;
        // 头部的按钮
        .goodsDetail-header {
            padding: 0 10px;
            padding-top: 20px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .back-btn {
                background-color: $Color_939393;
                opacity: 0.6;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                .iconfont {
                    font-size: $FontSize25;
                    color: $Color_fff;
                }
            }
            .more-btn {
                display: flex;
                .share,
                .more {
                    background-color: $Color_939393;
                    border-radius: 50%;
                    opacity: 0.6;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    .iconfont {
                        font-size: $FontSize40;
                        color: $Color_fff;
                    }
                }
                .more {
                    margin-left: 20px;
                }
            }
        }
        // 商品图片介绍
        .goodsDetail-imgIntroduce {
            height: 600px;
            width: 100%;
            .van-swipe {
                height: 100%;
                img {
                    height: 100%;
                    width: 100%;
                }
                .custom-indicator {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    width: 60px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    background-color: $Color_939393;
                    color: $Color_fff;
                    border-radius: 15px;
                }
            }
        }
        // 商品介绍
        .goodsDetail-textIntroduce {
            // 当存在 秒杀的时候 
            .textIntroduce-miaosha {
                background-color: $Color_F25C2C;
                width: 100%;
                height: 100px;
                line-height: 100px;
                display: flex;
                justify-content: space-between;
                padding: 0 20px;
                .miaosha-price {
                    text-align: left;
                    color: $Color_fff;
                    font-size: $FontSize30;
                    i {
                        font-size: $FontSize20;
                        margin-left: 10px;
                        vertical-align: top;
                    }
                }
            }
            // 详情文字介绍
            .textIntroduce-text {
                padding: 0 20px;
                margin-top: 20px;
                width: 100%;
                .text-title {
                    margin-bottom: 20px;
                    font-weight: 500;
                    color: #000;
                }
                .text-box {
                    line-height: 40px;
                    position: relative;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    overflow: hidden;
                    .texttitle {
                        color: $Color_F25C2C;
                        font-size: 30px;
                    }
                    .textcontent {
                        font-size: 25px;
                    }
                    .text-button {
                        position: absolute;
                        right: 0;
                        bottom: 5px;
                        border: 0;
                        padding: 10px 20px;
                        font-size: $FontSize20;
                        background-color: #fff;
                        color: $Color_F25C2C;
                    }
                }
                // 价格
                .price-box {
                    margin-top: 20px;
                    .new-price {
                        font-size: $FontSize40;
                        color: $Color_F25C2C;
                        margin-right: 10px;
                        i {
                            font-size: $FontSize20;
                            vertical-align: top;
                        }
                    }
                    .old-price {
                        font-size: $FontSize25;
                        text-decoration: line-through;
                        i {
                            font-size: $FontSize20;
                            vertical-align: text-top;
                        }
                    }
                }
            }
        }

        // 商品参数图片介绍 
        .goodsDetail-imgParameter {
            margin-top: 20px;
            position: relative;
            height: 120px;
            overflow: hidden;
            .ul_item {
                display: flex;
                position: absolute;
                height: 100%;
                .li_item {
                    width: 200px;
                    height: 100%;
                    flex-shrink: 0;
                    border-right: 1px solid #ccc;
                    img {
                        width: 100%;
                    }
                }
            }
        }

        // 图片参数的弹出框 
        .imgParameter_popupShowBox {
            display: flex;
            flex-direction: column;
            // 关键参数
            .keyParameter-box {
                height: 92%;
                padding: 0 20px;
                padding-bottom: 40px;
                .keyParameter-title {
                    height: 80px;
                    line-height: 80px;
                    text-align: center;
                    border-bottom: 1px solid $Color_939393;
                    font-size: $FontSize30;
                    color: #000;
                    margin-bottom: 40px;
                }
                .keyParameter-content {
                    height: 90%;
                    overflow: hidden;
                    .ul_item {
                        .li_item {
                            width: 100%;
                            height: 80px;
                            line-height: 80px;
                            span {
                                display: inline-block;
                                font-size: $FontSize25;
                            }
                            .li_title {
                                width: 40%;
                            }
                            .li_content {
                                width: 60%;
                                color: #000;
                            }
                        }
                    }
                }
            }   
            .success_btn {
                width: 100%;
                height: 8%;
                background-color: $Color_F25C2C;
                position: fixed;
                bottom: 0;
                color: #fff;
                font-size: $FontSize30;
            }
        }
        
        // 商品 属性
        .goodsDetail-attribute {
            padding: 0 20px;
            margin-top: 20px;
            // 分期
            .installment {
                width: 100%;
                height: 80px;
                line-height: 80px;
                background-color: $Color_F5F5F5;
                border-radius: 20px;
                padding: 0 30px;
                position: relative;
                border: 1px solid $Color_DFDFDF;
                .title {
                    margin-right: 40px;
                }
                .content {
                    color: $Color_262626
                }
                .icon {
                    position: absolute;
                    right: 40px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: $FontSize30;
                }
            }

            // 以旧换新
            .trade-in {
                width: 100%;
                margin-top: 20px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            // 基本信息 商品规则 收货地址 三包凭证
            .base-infomation {
                margin-top: 20px;
                width: 100%;
                background-color: $Color_F5F5F5;
                border-radius: 20px;
                border: 1px solid $Color_DFDFDF;
                // 商品规则
                .goods-base,
                .goods-address {
                    width: 100%;
                    height: 80px;
                    line-height: 80px;
                    padding: 0 30px;
                    position: relative;
                    border-bottom: 1px solid $Color_DFDFDF;
                    .title {
                        margin-right: 40px;
                    }

                    .content {
                        color: $Color_262626;
                        .isStore {
                            color: $Color_F25C2C
                        }
                    }

                    .icon {
                        position: absolute;
                        right: 40px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: $FontSize30;
                    }
                }
                // 收货地址
                .goods-address {

                }
                // 三包凭证
                .goods-certificate {
                    height: 60px;
                    line-height: 60px;
                    padding: 0 30px;
                    position: relative;
                    .content {
                        .content-span {
                            .iconfont {
                                font-size: $FontSize25;
                                color: $Color_F25C2C
                            }
                        }
                    }   
                    .icon {
                        position: absolute;
                        right: 40px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: $FontSize30;
                    }
                }
            }
        }
    }
    // 加入购物车
    .goodsDetail-shopcar {
        padding-top: 10px;
        border-top: 1px solid $Color_ccc;

        /deep/ .van-icon {
            font-size: $FontSize45;

            .van-info {
                font-size: $FontSize30;
                height: 30px;
                line-height: 30px;
                min-width: 50px;
            }
        }

        /deep/ .van-button__text {
            font-size: $FontSize30;
        }

        .van-goods-action-button {
            height: 80px;
        }

        .van-goods-action-icon {
            min-width: 160px;
            font-size: $FontSize30;
        }
    }
}